.root {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #fafafa;
}

.root::-webkit-scrollbar {
  display: none;
}

.typesContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 10px;
  position: relative;
}

.loadingContainer {
  margin-top: -4rem;
}

.backButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}