.root {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #fafafa;
}

.root::-webkit-scrollbar {
  display: none;
}
.stickyButton {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.loadMoreButton {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}